@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header-select {
  font-family: 'Montserrat';
  font-size: '22px';
  text-align: 'center' ;
  color: '#1F69B0' !important;
}

body {
  font-family: 'Montserrat';
}

.row {
margin:0
}
