@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header-select {
  font-family: 'Montserrat';
  font-size: '22px';
  text-align: 'center' ;
  color: '#1F69B0' ;
}

body {
  font-family: 'Montserrat';
}

.row {
  margin:0
}

.popover {
  max-width: 400px;
}
.header-select a { 
  /* background: #fff; */
  color: #1F69B0 ;
}
.header-select:hover { 
  background: rgb(31, 105, 176);
  color: #fff !important ;
}
.header-select:hover a{ 
  background: rgb(31, 105, 176);
  color: #fff !important ;
}
.header-selected a{ 
  background: rgb(31, 105, 176);
  color: #fff !important ;
}
/* .header-select a { 

  color: #fff !important ;
} */